/* FONT + COLOR VARIABLES */
$font-1: 'Merriweather'
$font-2: 'Oxygen'
$font-3: 'Open Sans'

$color-background: #F8F8FF
$color-accent-1: #5B58BB
$color-accent-2: #817e92

$color-background-night: #1A1324
$color-text-night: #C6BCD8
$color-accent-night-1: #CECBD4
$color-accent-night-2: #8A88D2


/* NIGHT THEME */
.night
    background-color: $color-background-night
    color: $color-text-night
    .styledList ul li .button
        &, &:active, &:active:focus
            color: $color-text-night !important
    .list-block li .button
        &, &:active, &:active:focus
            color: $color-accent-1 !important
    .button
        background-color: $color-background-night !important
        border-color: $color-accent-night-1 !important
    hr
        background-color: $color-accent-night-1
    .feature-alert
        background-color: $color-accent-night-2
        border: 2px solid $color-accent-night-1
        color: $color-background-night


/* GLOBAL STYLES */
html, body, #root
    margin: 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%

#page
    margin: 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    overflow: auto

.link-style, .link-style:hover
    color: $color-accent-1

.no-td, .no-td:hover
    text-decoration: none

.color-accent-1
    color: $color-accent-1

.color-accent-2
    color: $color-accent-2

.font-1
    font-family: $font-1, serif

.font-2
    font-family: $font-2, sans-serif

.font-3
    font-family: $font-3, sans-serif

.badge-secondary
    background-color: $color-accent-2 !important

.button
    background-color: $color-background !important
    border-radius: 2em !important
    border-color: $color-accent-1 !important
    outline: none !important
    box-shadow: none !important

.hidden
    display: none

.shown
    display: block

/* expand/hide */
.expand_hide
    font-size: 0.75em
    cursor: pointer
    margin-left: 1em
    text-decoration: underline

.expand:after
    content: '(expand\002B)'

.hide:after
    content: '(hide\002D)'


/* for Markdown elements */
ul p
    margin: 0


/* STYLED LINKS LIST */
.styledList
    ul
        margin-top: 5px
        list-style-type: none
        padding-left: 0
    li
        font-family: $font-2
        display: inline-block
        padding: 8px 0px
        margin-right: 20px
        .button
            &, &:active, &:active:focus, &:focus
                color: black !important


/* ABOUT COMPONENT */
.about
    text-align: center
    .section
        font-family: $font-2
        padding: 0.25em
    .summary
        font-family: $font-1
        padding: 0.5em


/* FEATURE ALERT BOX */
.feature-alert
    font-family: $font-2
    background-color: $color-accent-night-1
    border: 2px solid $color-accent-night-2
    color: $color-accent-2
    text-align: center
    width: 85%
    margin: 0 auto
    padding: 1em 1.5em
    .featured-poem
        font-size: 1.25em


/* Homepage lists */
.poems-list-formatter
    text-align: center
    margin: 1.5em
    .material-icons
        font-size: 2.5em
        padding: 0.25em
        &:hover
            cursor: pointer
            color: $color-accent-1
        color: $color-accent-2

.list-list li
    list-style-type: disc
    color: $color-accent-night-1
    .list-link-style, .list-link-style:hover
        color: $color-accent-1

.list-block
    ul
        margin-top: 5px
        list-style-type: none
        padding-left: 0
    li
        font-family: $font-2
        display: inline-block
        padding: 10px 0px
        margin-right: 30px
        .button
            &, &:active, &:active:focus
                color: $color-accent-1


/* POEM PAGE*/
.poem-header h3
    font-family: $font-2

.poem-header h6
    font-family: $font-3
    font-weight: 300

.poemtext
    font-family: $font-1, serif
    white-space: pre-wrap

.poemdetails h6
    font-weight: 300
    margin-bottom: 0

.poemcollections ul h6
    margin-top: 10px


/* THEME SWITCHER */
.theme-switcher
    position: fixed
    right: 3%
    bottom: 3%

    .material-icons
        font-size: 48px
        &:hover
            cursor: pointer
        color: $color-accent-2
