/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html, .page{
    background-color: #F8F8FF;
}

.header {
    font-family: 'Oxygen', serif;
    color: #5B58BB;
}

.header-2 {
    color: #454545;
}
.poemslist{
    font-family: 'Oxygen', sans-serif;
}

.poem, .poem:hover {
    color: #5B58BB;
    text-decoration: none;
}

.about{
    font-family: 'Merriweather', serif;
}

.poemslist ul{
    display: inline-block;
    list-style: none;
    padding-left: 0px;
}

.poemslist li {
    background-color: #F8F8FF;
    border: 1px solid black;
    margin: 10px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
