/* FONT + COLOR VARIABLES */
$background: #F8F8FF
$accent-1: #5B58BB
$accent-2: #454545

/* GLOBAL STYLES */
html, .page
    background-color: $background

.link-style, .link-style:hover
    color: $accent-1
    text-decoration: none


/* HEADER */
.page-header h1
    font-family: 'Oxygen'
    color: $accent-1


.page-header h5
    font-family: 'Open Sans'
    color: $accent-2


/* HOMEPAGE */
.header-2
    color: $accent-2


.about
    font-family: 'Merriweather', serif


.poemslist
    font-family: 'Oxygen', sans-serif


/* POEM PAGE*/
.poem-header h3
    font-family: 'Oxygen'
    color: $accent-1


.poem-header h6
    font-family: 'Open Sans'


.poemtext
    font-family: 'Merriweather', serif
    white-space: pre-wrap


.poemdetails h6
    font-family: 'Open Sans'


.similarpoems h6
    font-family: 'Open Sans'


.similarpoems ul
    list-style-type: none
    padding-left: 0


.similarpoems li
    font-family: 'Oxygen'
    display: inline-block
    border: 2px solid
    border-radius: 5px
    padding: 5px
    margin-right: 20px
    color: $accent-1
