/* GLOBAL STYLES */
html, .page {
    background-color: #F8F8FF;
}

.link-style, .link-style:hover {
    color: #5B58BB;
    text-decoration: none;
}

/* HEADER */
.page-header h1 {
    font-family: 'Oxygen';
    color: #5B58BB;
}

.page-header h5 {
    font-family: 'Open Sans';
    color: #454545;
}

/* HOMEPAGE */
.header-2 {
    color: #454545;
}

.about {
    font-family: 'Merriweather', serif;
}

.poemslist {
    font-family: 'Oxygen', sans-serif;
}

/* POEM PAGE*/
.poem-header h3 {
    font-family: 'Oxygen';
    color: #5B58BB;
}

.poem-header h6 {
    font-family: 'Open Sans';
}

.poemtext {
    font-family: 'Merriweather', serif;
    white-space: pre-wrap;
}

.poemdetails h6{
    font-family: 'Open Sans';
}

.similarpoems h6 {
    font-family: 'Open Sans';
}

.similarpoems ul {
    list-style-type: none;
    padding-left: 0;
}

.similarpoems li {
    font-family: 'Oxygen';
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    color: #5B58BB;
}
