/* FONT + COLOR VARIABLES */
$font-1: 'Merriweather'
$font-2: 'Oxygen'
$font-3: 'Open Sans'

$color-background: #F8F8FF
$color-accent-1: #5B58BB
$color-accent-2: #454545

$color-background-night: #291d38
$color-text-night: #b2a9c3
$color-text-glow-night: #cecbd4
$color-accent-night: #8a88d2


/* NIGHT THEME */
.night
    background-color: $color-background-night
    color: $color-text-night
    .poemtext
        text-shadow: 0px 2px 15px $color-text-glow-night
    .similarpoems li
        color: $color-accent-night
    hr
        background-color: $color-text-glow-night


/* GLOBAL STYLES */
html
    margin: 0
    height: 100%
    background-color: $color-background

.page
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: auto
    font-size: 16px

.link-style, .link-style:hover
    color: $color-accent-1

.no-td, .no-td:hover
    text-decoration: none

.color-accent-1
    color: $color-accent-1

.color-accent-2
    color: $color-accent-2

.font-1
    font-family: $font-1, serif

.font-2
    font-family: $font-2, sans-serif

.font-3
    font-family: $font-3, sans-serif

.theme-switcher
    position: fixed
    right: 3%
    bottom: 3%
    font-size: 40px

.dark-mode
    background-color: orange
    color: green

.light-mode
    background-color: blue
    color: red


/* POEM PAGE*/
.poem-header h3
    font-family: 'Oxygen'

.poem-header h6
    font-family: 'Open Sans'
    font-weight: 300

.poemtext
    font-family: 'Merriweather', serif
    white-space: pre-wrap

.poemdetails h6
    font-weight: 300
    margin-bottom: 0

.similarpoems ul
    list-style-type: none
    padding-left: 0

.similarpoems li
    font-family: 'Oxygen'
    display: inline-block
    border: 2px solid
    border-radius: 5px
    border-color: $color-accent-2
    padding: 5px
    margin-right: 20px
